<h1 class="bg-info">This is the admin dashboard</h1>
<h1>
    {{#if createdUser}}
    You have created a user with Email = {{createdUser.email}} and Password == {{password}} and Role
    {{createdUser.role}}
    {{/if}}
</h1>

<h1>
    {{#if user}}
    You have logged in with Email = {{user.email}} and Password == {{password}} and Role of
    {{user.role}}
    {{/if}}
</h1>